@media (min-width: 1500px) {
    .container{
        max-width: 100%;
    }
}

.tilt {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

body {
    min-width: 520px;
}

.column {
    float: left;
    padding-bottom: 100px;
    padding-top:10px;
    width:250px;
    height:500px;
    overflow-y:auto;
}
.portlet {
    margin: 0 0.25em 1em 0.25em;
    padding: 0.3em;
}
.portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
    margin:0;
    width:100%;
}
.portlet-toggle {
    margin-top:0.25em;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.columnspan{
    padding-top:5px;
    padding-left:5px;
}

.add_data{
    width:100%;
    margin-bottom:5px;
}

.columncontainer{
    margin-left:5px;
    margin-right:5px;
    background-color: #1b729f;
    height:50%;
}

.edit_item img{
    height:20px;
}
.delete_item img{
    height:20px;
}

.buttoncontainer button{
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5px;
}
.expandbutton{
    height:15px;
}
.itemtitle{
    padding:0 0 0 5px;
}
.columnrowcontainer{
    overflow-x: scroll;
    width:1400px;
    display:flex;
    height:auto;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
